<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="matches">
      <ion-icon name="tennisball-outline"></ion-icon>
      <ion-label>Matches</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tournaments">
      <ion-icon name="trophy-outline"></ion-icon>
      <ion-label>Tournaments</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rankings">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Rankings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
