<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Tournaments
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="loading" class="spinner">
    <ion-spinner color="primary"></ion-spinner>
    <h1 class="mat-display-1">Getting Tournaments</h1>
  </div>
  <div class="tournament" *ngIf="!loading">
    <ion-card class="tour-card" *ngFor="let tour of tournaments">
      <ion-card-header>
        <ion-card-title>
          {{tour.name}}
        </ion-card-title>
        <ion-card-subtitle>
          {{tour.city}}, {{tour.country}}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p class="tour-detail">
          Start date: {{formatDate(tour.start_date)}}
        </p>
        <p class="tour-detail">
          End date: {{formatDate(tour.end_date)}}
        </p>
        <p class="tour-detail">
          Surface: {{tour.surface}}
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
